.fixed-background {
    position: fixed;
    inset: 0;
    width: 100%;
    height: max(100%, 100vh, 100dvh);
    background: linear-gradient(60deg, #3574B9, #83B581, #3574B9, #AF8CD3, #3574B9, #3185DB);
    background-size: 500% 100%;
    animation: gradient 30s linear infinite;
    animation-direction: alternate;
    background-attachment: fixed;
}
