@font-face {
    font-family: "Museo Sans";
    src: url("../fonts/MuseoSans-100.otf") format("opentype");
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: "Museo Sans";
    src: url("../fonts/MuseoSans-300.otf") format("opentype");
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Museo Sans";
    src: url("../fonts/MuseoSans-500.otf") format("opentype");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Museo Sans";
    src: url("../fonts/MuseoSans-700.otf") format("opentype");
    font-weight: 700;
    font-display: swap;
}
