/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
    /* colors */
    --clr-white: rgb(255 255 255);
    --clr-css-pink: rgb(236 96 144 / 100%);
    --clr-css-pink-1: rgb(208 73 126 / 100%);
    --clr-css-green: rgb(37 163 46 / 100%);
    --clr-css-green-1: rgb(37 143 46 / 100%);
    --clr-css-yellow: rgb(255 192 21 / 100%);
    --clr-css-yellow-1: rgb(255 172 21 / 100%);
    --clr-css-beige: rgb(246 234 224 / 100%);
    --clr-css-beige-1: rgb(233 219 208 / 100%);
    --clr-css-cyan: rgb(0 164 224 / 100%);
    --clr-css-blue: rgb(0 50 125 / 100%);
    --clr-css-blue-1: rgb(0 120 187 / 100%);
    --clr-css-blue-transparent: rgb(0 50 125 / 75%);

    /* fonts */
    --font-family: "Museo Sans", sans-serif;
    --font-menu: 1.5rem;
    --font-paragraph: 1.5rem;
    --font-banner: 1.75rem;
    --font-voucher: 2rem;
    --font-voucher-small: 1.125rem;
    --font-big: 2rem;
    --font-huge: 2.5rem;
    --font-xs: .75rem;
    --font-small: 1.25rem;
    --font-rte-small: 1.125rem;
    --font-h1: 5.625rem;
    --font-h2: 2.5rem;
    --font-h3: 2rem;

    /* spacing */
    --page-max-width: 1440px;
    --page-padding: 100px;
    --space-large: 140px;
    --space-medium: 128px;
    --space-small: 48px;

    /* links */
    --link-color: var(--clr-white);
    --link-hover-color: var(--clr-css-blue-1);

    /* footer */
    --footer-bg: var(--clr-css-blue);
    --footer-color: var(--clr-white);

}

@media (width <= 1024px) {
    :root {
        /* fonts */
        --font-paragraph: 1rem;
        --font-voucher: 1.25rem;
        --font-voucher-small: 1rem;
        --font-big: 1.5rem;
        --font-huge: 1.75rem;
        --font-small: 1.125rem;
        --font-rte-small: 1rem;
        --font-h1: 4rem;
        --font-h2: 2rem;
        --font-h3: 1.75rem;

        /* spacing */
        --space-large: 128px;
        --space-medium: 96px;
    }
}

@media (width <= 667px) {
    :root {
        /* fonts */
        --font-menu: 1.25rem;
        --font-banner: 1.25rem;
        --font-voucher: 1.125rem;
        --font-voucher-small: .625rem;
        --font-big: 1.125rem;
        --font-huge: 1.125rem;
        --font-small: 1rem;
        --font-h1: 2rem;
        --font-h2: 1.5rem;
        --font-h3: 1.625rem;

        /* spacing */
        --page-padding: 20px;
        --space-large: 90px;
        --space-medium: 64px;
        --space-small: 32px;
    }
}

@keyframes gradient {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 100%;
    }
}

* {
    padding: 0;
    margin: 0;
    font-synthesis: none!important
}

a {
    color: inherit
}

html {
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 250;
    color: var(--clr-white);
    line-height: 1.2;
}

body {
    display: none;
    margin: 0;
    background: linear-gradient(60deg, #3574B9, #83B581, #3574B9, #AF8CD3, #3574B9, #3185DB);
    background-size: 500% 100%;
    animation: gradient 30s linear infinite;
    animation-direction: alternate;
    background-attachment: fixed;
}

body.appear {
    display: block;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

header .header,
footer .footer {
    visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
    visibility: visible;
}

h1,
h2,
h3 {
    font-weight: inherit;
    margin-block:.3em;
}

h1 {
    font-size: var(--font-h1);
}

h2 {
    font-size: var(--font-h2);
}

h3 {
    font-size: var(--font-h3);
}

p {
    font-size: var(--font-paragraph);
}

p+p {
    margin-top: 2rem;
}


main > div {
    margin: 40px 16px;
}

input,
textarea,
select,
button {
    font: inherit;
}

/* links */
a:any-link {
    color: var(--link-color);
    text-decoration: none;
    word-break: break-word;
}

/* buttons */
a.button:any-link,
button {
    display: inline-block;
    background-color: var(--clr-white);
    color: var(--clr-css-cyan);
    cursor: pointer;
    font-weight: 300;
    outline: none;
    border: none;
    border-radius: 45px;
    padding: 14px 32px;
    font-size: var(--font-small);
    letter-spacing: .03em;
    text-align: center;
}

@media (width <= 667px) {
    a.button:any-link,
    button {
        padding: 8px 16px;
        font-size: 1.25rem;
    }
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
    color: var(--clr-white);
    background-color: var(--clr-css-blue-1);
    box-shadow: 0 0 0 .125rem var(--clr-css-blue-1);
}

main img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.icon {
    display: inline-block;
    height: 24px;
    width: 24px;
}

.icon img {
    height: 100%;
    width: 100%;
}

/* sections */
main > .section {
    margin: 40px 0;
}

main > .section > div {
    max-width: 1200px;
    margin: auto;
    padding: 0 24px;
}

main > .section:first-of-type {
    margin-top: 0;
}

@media (width >= 900px) {
    main > .section > div {
        padding: 0 32px;
    }
}
